@use '../abstracts' as *;

footer{
    background-color:$main-white;
    display:flex;
    justify-content:center;
    .#{&}-content{
        width:62rem;
        padding: .89rem 0;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .#{&}-text{
        display: flex;
        gap: 1.4rem;
        

        a{
           @include nav-footer-link;
        }
    }
    .#{&}-social{
        display: flex;
        gap: 1.1rem;

        &-item{
            padding-top: .4rem;
        }
    }
}

footer.footer-dark{
    background-color: $primary-color !important;
    
    .footer-text{
        a{
            color: $main-white !important;
        }
    }
    .footer-social{
        img{
            filter:$filter-main-white !important;
        }
    }
}