@use '../abstracts' as *;

// type text & email & pass

input.custom-input{
    background-color:#f6f6f6;
    padding:1rem 1.2rem;
    margin: .5rem 0;
    font-size: 1.2rem;
    color: $primary-color;
    border-radius: .6rem;
    border:.15rem solid transparent;

    &::placeholder{
        color: $light-grey;
    }

    &:focus{
        border: .15rem solid rgba($primary-color,.3);
        box-shadow: 0px 0px 11px -5px $primary-color;
    }
}