<main class="playlists-container">
    <h1>پلی لیست ها</h1>
    <div>
      <section class="create-playlist">
        <button class="create-playlist-btn btn btn--gray">+ پلی لیست جدید بساز</button>
        <div class="create-playlist-page">
           <div class="create-playlist-page-box">
            <form (submit)="createPlaylist($event)">
              <div class="create-playlist-input">
                <label for="name">نام پلی لیست</label>
                <input class="custom-input" type="text">
              </div>
              <div class="create-playlist-submit">
                <button type="submit" class="btn btn--blue">ساخت پلی لیست</button>
              </div>
            </form>
           </div>
        </div>
      </section>
      <section class="playlists">
       <app-playlist-item *ngFor="let playlist of playlists" [playlist]="playlist"></app-playlist-item>
      </section>
    </div>
  </main>