<section class="login-box">
    <div class="login-box-content">
      <div class="login-box-text">
        <h2>ورود به حساب کاربری</h2>
        <div class="login-box-alert"></div>
        <form class="login-box-form" name="login_form" method="post" action="" onsubmit="login_validation(event)">
          <div>
            <input class="custom-input" type="text" name="email" placeholder="نام کاربری" />
            <div id="mail_error"></div>
          </div>
          <div>
            <input
              class="custom-input"
              type="password"
              name="password"
              placeholder="رمز عبور"
              autocomplete="true"
            />
            <div id="pass_error"></div>
          </div>
          <div class="remember-container">
            <input type="checkbox" name="remember_me" />
            <label for="remember_me">مرا به خاطر بسپار</label>
          </div>
          <div class="login-submit-container">
            <input type="submit" value="ورود" class="btn btn--blue" />
          </div>
          <p class="foreget-password">
            <a href="#">رمز عبورم را فراموش کرده ام</a>
          </p>
        </form>
      </div>
      <div class="login-box-pic">
        <img src="../assets/images/login/5870.svg" alt="" />
      </div>
    </div>
  </section>
