    <footer>
      <div class="footer-content">
        <div class="footer-text">
          <div class="footer-text-item"><a href="/home.html">خانه</a></div>
          <div class="footer-text-item"><a href="/signup.html">ثبت نام</a></div>
          <div class="footer-text-item"><a href="/login.html">ورود</a></div>
          <div class="footer-text-item">
            <a href="/home.html#about">درباره ما</a>
          </div>
        </div>
        <div class="footer-social">
          <div class="footer-social-item">
            <a href="#"><img src="../../../assets/images/socials/facebook.svg" alt="" class="social"
                loading="lazy" /></a>
          </div>
          <div class="footer-social-item">
            <a href="#"><img src="../../../assets/images/socials/instagram.svg" alt="" class="social"
                loading="lazy" /></a>
          </div>
          <div class="footer-social-item">
            <a href="#"><img src="../../../assets/images/socials/twitter.svg" alt="" class="social"
                loading="lazy" /></a>
          </div>
          <div class="footer-social-item">
            <a href="#"><img src="../../../assets/images/socials/youtube.svg" alt="" class="social"
                loading="lazy" /></a>
          </div>
        </div>
      </div>
    </footer>
