<div class="playlists-item" *ngIf="playlist" (click)="showPlaylistSongs($event)">
  <div class="playlists-item-pic">
    <a><img src="{{ playlist.songs.length ? lastElmObjCover : this.noCoverImg }} " alt="cover" /></a>
  </div>
  <div class="playlists-item-actions">
    <div class="playlists-item-text">
      <h4>
        <a>{{ playlist.name }}</a>
      </h4>
    </div>
    <div class="icons-container">
      <div class="playlists-item-play">
        <a href="">
          <button></button>
        </a>
      </div>
      <div class="playlists-item-delete">
        <img (click)="removePlaylist($event)" src="assets/images/favorites/delete.svg" alt="remove playlist" />
      </div>
    </div>
  </div>
</div>
