<main class="ls-container">
  <div>
    <section class="ls-top-container">
      <div class="ls-top-headphone">
        <img src="../../../assets/images/login/headset.svg" alt="" />
        <div class="ls-top-btns">
          <a routerLink="login"><button #loginBtnRef class="btn ls-top-btn-active ls-top-btn-login">ورود</button></a>
          <a routerLink="signup"
            ><button #signupBtnRef class="btn ls-top-btn-idle ls-top-btn-register">ثبت نام</button></a
          >
        </div>
      </div>
    </section>
    <router-outlet></router-outlet>
  </div>
</main>
