<section class="landing">
  <div class="landing-content">
    <h1>آهنگی که دنبالشی پیدا کن</h1>
    <app-search-box></app-search-box>
  </div>
</section>
<section class="about" id="about">
  <div class="about-content">
    <div class="about-text">
      <h2 class="about-text-title">
        <span>اینجا کجاست؟</span>
      </h2>
      <p class="about-text-content">
        آهنگیفای یه پلتفرم موزیک رایگانه که میتونی با عضویت در سایت ، از آرشیو بینظیر ما شامل هزاران موزیک به صورت کاملا
        رایگان بهره مند بشی . با دسترسی به همه امکانات آهنگیفای چندتا کلیک بیشتر فاصله نداری !
      </p>
      <div class="about-register">
        <a routerLink="user/signup"><button class="btn btn--blue">ثبت نام</button></a>
      </div>
    </div>
    <div class="about-pic">
      <img src="assets/images/home/about-vec.svg" alt="man listening to music" loading="lazy" />
    </div>
  </div>
</section>
