@use '../abstracts' as *;

.btn{
    border-radius: 1rem;
    padding:1rem 1.2rem;
    color: #fff;
}
.btn--blue{
    background-color:$secondary-color;
    color: #fff;
    transition: background-color .3s ease-in-out;
    cursor: pointer;

    &:hover{
        background-color:$lighter-blue;
    }
}

.ls-top-btn-idle{
    background-color:$lighter-blue;
    transition: background-color .3s ease-in-out;
   
    
    &:hover{
        background-color:$secondary-color;
    }
}
.ls-top-btn-active{
    background-color:$secondary-color;
    
}