// $primary-color:#504f4f;.
$primary-color:hsl(195, 3%, 28%);
$secondary-color:hsl(218, 46%, 37%);
$lighter-blue:hsl(218, 43%, 49%);
$main-white: hsl(0, 0%, 93%);
// $light-grey:#7e7e7e;
$light-grey:hsl(203,3%,45%);
$bg-black:hsl(0, 0%, 17%);
$filter-white:invert(100%) sepia(100%) saturate(0%) hue-rotate(203deg) brightness(101%) contrast(102%);
$filter-main-white:invert(98%) sepia(21%) saturate(239%) hue-rotate(230deg) brightness(114%) contrast(86%);
$filter-primary:invert(31%) sepia(7%) saturate(24%) hue-rotate(323deg) brightness(95%) contrast(93%);